.bold {
  font-weight:bold;
}
table, td,th {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  font-size: 16px;
}
table {
  width: 80%;
  margin: auto;
}
.Homeb {
  position:absolute;
  text-decoration:none;
  color:black;
  background-color:pink;
  border:solid 2px black;
}
img {
  width:100px;
  height:100px;
}
.Homeb {
  position:absolute;
  text-decoration:none;
  color:black;
  background-color:pink;
  border:solid 2px black;
}
.p {
  background-color:#CCCCCC;
}
.Homeb:hover {
  color:white;
}